@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #be3144;
  z-index: 1;
}

section {
  display: block;
}

nav > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1rem;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Otomanopee One', sans-serif;
  font-size: 4.5rem;
  margin-bottom: 0;
}

section > p {
  margin-top: 0;
  color: #be3144;
  font-weight: 200;
  font-size: 30px;
  font-style: italic;
}

#projects {
  text-align: center;
  background-color: #45567d;
  padding: 7rem;
}

section[id="projects"] > h2 {
  text-decoration: underline;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.project-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  padding: 0;
  text-decoration: none;
}

.show-all-anchor {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #303841;
  padding: 0.75rem;
}

#contact {
  padding: 5rem;
  text-align: center;
  background-color: #303841;
}

section[id="contact"] > h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-me {
  font-size: 1rem;
}


@media all and (max-width: 700px) {
  .project-container {
    flex-direction: column;
  }
  
  .project-tile {
    margin: 1rem 0;
  }
  
  section[id="projects"] > h2 {
    font-size: 1.2rem;
  }
  
  .show-all-anchor {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  h1 {
    font-size: 3rem;
  }
}
